.movieList {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
}

.genreMovie {
    margin-top: 10px;
    flex: 1 1 20%;
}

.mat-button-toggle-group {
    margin: 20px 100px;
    display: inline-flex;
}