<div>
  <app-paginator [type]="this.type" [genreId]="this.genreId"></app-paginator>
  <mat-button-toggle-group
    *ngIf="!this.genreId"
    name="tvshowMovieToggle"
    aria-label="Font Style"
  >
    <mat-button-toggle
      [checked]="this.selection === this.movieType.Movie"
      (change)="onValChange($event.value)"
      value="movie"
      >Movie</mat-button-toggle
    >
    <mat-button-toggle
      [checked]="this.selection === this.movieType.Tvshow"
      (change)="onValChange($event.value)"
      value="tvshow"
    >
      Tv Show</mat-button-toggle
    >
  </mat-button-toggle-group>
  <div class="movieList" *ngIf="this.listOfShowMovie.length > 0">
    <app-item-card
      class="genreMovie"
      *ngFor="let movie of this.listOfShowMovie"
      [type]="selection"
      [movie]="movie"
    ></app-item-card>
  </div>

  <p *ngIf="this.listOfShowMovie.length <= 0">No tvshow/movie is show</p>
</div>
