.title {
    a {
        font-size: 0.75em;

    }
}

.information {
    .castList {
        display: flex;
        overflow-x: auto;
        justify-content: space-around;
        height: fit-content;
        margin: 20px 0;

        .cast {
            min-width: 200px;
            height: fit-content;
        }
    }

    h2 {
        margin: 20px 30px;
        font-size: 1.65em;
    }

    p {
        margin-left: 40px;
    }



    .mainVideo {
        margin-left: 20px;
    }

    .link {
        display: block;
        font-size: 1.5em;
    }

    @media(min-width: 800px) {
        .videoInfo {
            display: flex;
            align-items: center;
        }

        .link {
            display: inline;
            margin-left: 40px;
        }
    }
}