.errorPage {
  width: fit-content;
  text-align: center;
  font-weight: 500;
  font-size: 2em;
  line-height: 2;
  margin: 30vh auto;

  h2 {
    font-size: 2em;
  }

  button {
    font-size: 30px;
    background-color: black;
    color: white;
  }
}
