<mat-toolbar class="top-nav">
  <div class="left">
    <div class="bigScreen">
      <a routerLink="/home">Bitu</a>
      <a routerLink="/tvShow">TV Shows</a>
      <a routerLink="/movies">Movies</a>
      <a routerLink="/popular">New & Popular</a>
      <span
        class="openGenres"
        [matMenuTriggerFor]="genresMenu"
        aria-label="open-genres-label"
      >
        Genres
      </span>

      <mat-menu
        #genresMenu="matMenu"
        class="list-horizontal"
        xPosition="before"
      >
        <a
          class="horizontal-item"
          *ngFor="let genre of listOfGenre"
          mat-list-item
          [routerLink]="'/search/' + genre.id"
          >{{ genre.name }}</a
        >
      </mat-menu>
    </div>
    <div class="smallScreen">
      <span
        class="openMenu"
        [matMenuTriggerFor]="smallNavBar"
        aria-label="smallNavBar-label"
      >
        <span class="material-icons">menu</span>
      </span>
      <mat-menu #smallNavBar="matMenu">
        <a mat-menu-item routerLink="/tvShow">TV Shows</a>
        <a mat-menu-item routerLink="/movies">Movies</a>
        <a mat-menu-item routerLink="/popular">New & Popular</a>
        <span
          mat-menu-item
          class="openGenres"
          [matMenuTriggerFor]="genresMenu"
          aria-label="open--genres-label"
        >
          Genres
        </span>

        <mat-menu
          #genresMenu="matMenu"
          class="list-horizontal"
          xPosition="before"
        >
          <a
            class="horizontal-item"
            *ngFor="let genre of listOfGenre"
            mat-list-item
            [routerLink]="'/search/' + genre.id"
            >{{ genre.name }}</a
          >
        </mat-menu>
      </mat-menu>
    </div>
  </div>
  <div class="right">
    <a routerLink="/myList">My List</a>
    <span
      class="openMenu"
      [matMenuTriggerFor]="menu"
      aria-label="profile-label"
    >
      Profile
    </span>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/addToFavList">Add To Favorite List</a>
      <a mat-menu-item routerLink="/addNewMovie">Add New Movie</a>
      <!-- <a mat-menu-item href="/">Change My Account</a> -->
    </mat-menu>
  </div>
</mat-toolbar>
