<mat-toolbar class="top-nav">
  <div class="left">
    <div class="bigScreen">
      <a routerLink="/home">Bitu</a>
      <span
        class="openGenres"
        [matMenuTriggerFor]="genresTvShows"
        aria-label="open--genres-label"
      >
        TV Shows
      </span>

      <mat-menu #genresTvShows="matMenu" class="list-horizontal">
        <a
          class="horizontal-item"
          *ngFor="let genre of listOfTvShowGenre"
          mat-list-item
          [routerLink]="'/search/' + genre.id"
          >{{ genre.name }}</a
        >
      </mat-menu>
      <!-- <a routerLink="/tvShow"></a> -->
      <span
        class="openGenres"
        [matMenuTriggerFor]="genresMovie"
        aria-label="open--genres-label"
      >
        Movies
      </span>

      <mat-menu #genresMovie="matMenu" class="list-horizontal">
        <a
          class="horizontal-item"
          *ngFor="let genre of listOfMovieGenre"
          mat-list-item
          [routerLink]="'/search/' + genre.id"
          >{{ genre.name }}</a
        >
      </mat-menu>
      <a routerLink="/popular">New & Popular</a>
    </div>
    <div class="smallScreen">
      <span
        class="openMenu"
        [matMenuTriggerFor]="smallNavBar"
        aria-label="smallNavBar-label"
      >
        <span class="material-icons">menu</span>
      </span>
      <mat-menu #smallNavBar="matMenu">
        <span
          class="openGenres"
          [matMenuTriggerFor]="genresTvShows"
          aria-label="open--genres-label"
          mat-menu-item
        >
          TV Shows
        </span>

        <mat-menu
          #genresTvShows="matMenu"
          class="list-horizontal"
          xPosition="before"
        >
          <a
            class="horizontal-item"
            *ngFor="let genre of listOfTvShowGenre"
            mat-list-item
            [routerLink]="'/search/' + genre.id"
            >{{ genre.name }}</a
          >
        </mat-menu>

        <span
          mat-menu-item
          class="openGenres"
          [matMenuTriggerFor]="genresMovie"
          aria-label="open--genres-label"
        >
          Movies
        </span>

        <mat-menu
          #genresMovie="matMenu"
          class="list-horizontal"
          xPosition="before"
        >
          <a
            class="horizontal-item"
            *ngFor="let genre of listOfMovieGenre"
            mat-list-item
            [routerLink]="'/search/' + genre.id"
            >{{ genre.name }}</a
          >
        </mat-menu>
        <a mat-menu-item routerLink="/popular">New & Popular</a>
      </mat-menu>
    </div>
  </div>
  <div class="right">
    <a routerLink="/myList">My List</a>
    <span
      class="openMenu"
      [matMenuTriggerFor]="menu"
      aria-label="profile-label"
    >
      Profile
    </span>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/addToFavList">Add To Favorite List</a>
      <a mat-menu-item routerLink="/addNewMovie">Add New Movie</a>
      <!-- <a mat-menu-item href="/">Change My Account</a> -->
    </mat-menu>
  </div>
</mat-toolbar>
