<nav aria-label="Page navigation">
  <ul class="navlinks">
    <li
      (click)="this.updateFirst()"
      *ngIf="showFirstLastButton"
      [routerLink]="
        genreId
          ? ['/' + routerLinkBase + '/' + type + '/' + genreId + '/1/']
          : ['/' + routerLinkBase + '/' + type + '/1/']
      "
    >
      <a class="navlink"> First </a>
    </li>
    <li
      (click)="this.updatePrevious()"
      *ngIf="currentPage > 1"
      [routerLink]="
        genreId
          ? [
              '/' +
                routerLinkBase +
                '/' +
                type +
                '/' +
                genreId +
                '/' +
                previousPage +
                '/'
            ]
          : ['/' + routerLinkBase + '/' + type + '/' + previousPage + '/']
      "
    >
      <a class="navlink"> Prev </a>
    </li>

    <li
      [routerLink]="
        genreId
          ? [
              '/' +
                routerLinkBase +
                '/' +
                type +
                '/' +
                genreId +
                '/' +
                page +
                '/'
            ]
          : ['/' + routerLinkBase + '/' + type + '/' + page + '/']
      "
      (click)="this.updateCurrentPage($event)"
      *ngFor="let page of this.showingPage"
    >
      <a class="navlink">
        {{ page }}
      </a>
    </li>

    <li
      (click)="this.updateNext()"
      [routerLink]="
        genreId
          ? [
              '/' +
                routerLinkBase +
                '/' +
                type +
                '/' +
                genreId +
                '/' +
                nextPage +
                '/'
            ]
          : ['/' + routerLinkBase + '/' + type + '/' + nextPage + '/']
      "
    >
      <a class="navlink"> Next > </a>
    </li>
    <li
      (click)="this.updateLast()"
      [routerLink]="
        genreId
          ? ['/' + routerLinkBase + '/' + type + '/' + genreId + '/300/']
          : ['/' + routerLinkBase + '/' + type + '/300/']
      "
    >
      <a class="navlink"> Last </a>
    </li>
  </ul>
</nav>
