<div class="slideshow">
  <div class="description">
    <h3 *ngIf="this.title">{{ this.title }}</h3>
    <mat-button-toggle-group name="tvshowMovieToggle" aria-label="Font Style">
      <mat-button-toggle
        checked="true"
        (change)="onValChange($event.value)"
        value="movie"
        >Movie</mat-button-toggle
      >
      <mat-button-toggle (change)="onValChange($event.value)" value="tvshow">
        Tv Show</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
  <carousel
    [arrowsOutside]="true"
    [height]="350"
    [cellsToShow]="this.numberOfCells"
    [margin]="10"
    [arrowsTheme]="'dark'"
    class="carousel"
    [autoplay]="true"
    [autoplayInterval]="2000"
  >
    <div *ngFor="let movie of this.renderMoviesList" class="carousel-cell">
      <app-item-card [movie]="movie"></app-item-card>
    </div>
  </carousel>
</div>
